<div>
  <h3><%= @user.username %>'s profile</h3>

  <p>
    <% if current_user&.eql? @user %>
      <%= link_to "Upload photos", new_photo_path %>
    <% end %>
  </p>

  <% if @user.photos.empty? %>
    <p>There is still no photos to display.</p>
  <% else %>
    <% @user.photos.each do |photo| %>
      <%= link_to photo_path(photo) do %>
        <%= image_tag photo.photo.variant(resize: '200', gravity: 'Center', crop: '200x200+0+0') %>
      <% end %>
    <% end %>
  <% end %>

  <% unless current_user&.eql? @user || current_user.already_friends?(@user) %>
    <%= link_to 'Add Friend', add_friend_path(@user.id), method: :post %>
  <% end %>

  <h3>Friend Requests</h3>
  <% if @friend_requests.any? %>
    <% @friend_requests.each do |friend_request| %>
      <%= link_to friend_request.user.username, profile_path(friend_request.user.id) %>
      (
        <%= link_to 'Accept', accept_friend_path(friend_request.id), method: :post %> |
        <%= link_to 'Decline', decline_friend_path(friend_request.id), method: :post %>
        )
    <% end %>
  <% else %>
    <p>There are no friend requests.</p>
  <% end %>

  <h3>@user.username %>'s friends</h3>
  <% if @user.friends.any? %>
    <% @user.friends.each do |user| %>
      <%= link_to user.username, profile_path(user.id) %>
    <% end %>
  <% else %>
    <p>There are no friends.</p>
  <% end %>

</div>
